html {
  background: black;

  &,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  body {
    background: black no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'URW Gothic L', 'Lucida Grande', 'Lucida Sans Unicode', 'Helvetica Neue', 'Sans', sans-serif;
    color: white;
    opacity: 0;
    transition: opacity 0.5s linear;
  }
}

#menu-icon {
  visibility: hidden;
  opacity: 0;
  color: white;
  font-size: 32px;
  transition: all 0.25s linear;
  position: fixed;
  top: 25px;
  left: 25px;
}

#menu-icon:hover {
  font-size: 34px;
}
